.all {
    background-color: antiquewhite;
}

/* // ============================================
// トップページ
// ============================================ */

/* header */
.header {
    background-color: white;
}

/* container */
.wrapper{
    width:100%;
    background-image:url(../storage/sunset_flower.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    max-height: 344px;
}
.wrapper .container{
    /* width:1000px以上にするためにコメントアウト */
    /* max-width:1000px; */
    margin:0px auto;
    padding:80px 0px;
}
/* content */
.wrapper .content .heading{
    margin:0px 0px 40px 0px;
    color:grey;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
@media (min-width: 992px) {
    .wrapper .content .list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wrapper .content .list-item {
    padding:30px;
    line-height:1.8rem;
    color:#ffffff;
    text-align:center;
}
@media (min-width: 992px) {
    .wrapper .content .list-item {
        width:50%;
    }
}

.discussion_select {
    height:100px;
}

.main {
    width:1155px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card_box {
    margin-bottom: 30px;
}

/* // ============================================
// discussページ
// ============================================ */
.discuss_point_visualize {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    max-width:600px;
    height:200px;
    margin-bottom: 30px;
}

.question_parts {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-width: 1000px;
    height: 100px;
}

.discuss_content {
    width: 1000px;
    max-height: 1200px;
    align-items: center;
    justify-content: center;
    /* background-color: #a93142; */
    margin-left: auto;
    margin-right: auto;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width:1000px; */
}
.pros_btn {
    background-color: salmon;
    width:500px;
    height:50px;
    display: flex;
    justify-content: space-between;
}

.cons_btn {
    background-color: skyblue;
    width:500px;
    height:50px;
    display: flex;
    justify-content: space-between;
}

.pros {
    /* background-color: royalblue; */
    width:500px;
    height:100px;
}

.cons {
    /* background-color: gold; */
    width:500px;
    height:100px;
}

.plus-btn {
  height: 2rem;
  width: 2rem;
  /* opacity: .5; */
  color: grey;
  /* margin-top: auto; 
  margin-bottom: auto; */
  fill: currentColor;
  margin-right: 10px;
}

.agree-text {
  margin-top: 1rem;
  font-size: 20px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-left: 10px;
}

.open-modal {
  display:flex;
  align-items:center;
  justify-content:center;
}

/* // ============================================
// モーダルウィンドウ
// ============================================ */

#modal {
  display: none;
}

#modal_pros {
  display: none;
}

#modal_cons {
  display: none;
}

.modal-background {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25rem;
  /* padding-left:  20rem; */
}

.modal-content {
  z-index: 20;
  background-color: white;
  color: #1a202c;
  width: 40%;
  border-radius: 0.375rem;
}

.modal-content-whole {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.modal-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content-title-name {
  font-size: 1.875rem;
  font-weight: 900;
  line-height: 2;
}

.modal-content-subheading {
  margin-top: 2rem;
  font-weight: 600;
}

.modal-content-margin {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.modal-content-input {
  width: 100%;
  border-radius: 0.25rem;
  border-color: #1a202c;
  border-style: solid;
  padding: 0.75rem;
}

.modal-form {
  display: flex;
  justify-content: flex-end;
}

.modal-form-btn {
  border-radius: 0.25rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #22543d;
  font-weight: 700;
  color: #fff;
}


/* // ============================================
// チャートコンポーネント
// ============================================ */

.tf-tree example {
  
}



